<!DOCTYPE html>
<html lang="en">
<head>
 <%- include("./partials/link_file/csslink/allcss.ejs"); %>
</head>

<body>
	<div class="layer"></div>
	<section id="hero">
        <div class="opacity-mask" >
    		<div class="intro_title error">
    			<h1 class="animated fadeInDown color-dark-blue">404</h1>
    			<p class="animated fadeInDown">Oops!! Page not found</p>
    			<a href="/" class="animated fadeInUp btn bg-color-dark-red text-white">Back to home</a>
    		</div>
        </div>
	</section>
</body>

</html>