<!DOCTYPE html>
<html lang="en">
  <!-- Mirrored from www.ansonika.com/citytours/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 15 Jun 2022 05:37:46 GMT -->
  <head>
    <title>About-Us | we provide the best tour package that fit your budget</title>
	<meta name="description" content="Go journey India is an Indian base Tavel company we provide different tour packages we have had more than 100+ Travelers who completed their journeys woth life changing experince">
	<meta name="keywords" content="shimla manali tour package, Golden Triangle, Delhi to manali tour package, best tour package, honymoon tour package, himachal trip package, rajasthan tour packages, delhi sightseeing tour, jaipur package for 3 days, shimla trip budget, ">

    <%- include("./partials/link_file/csslink/allcss.ejs"); %>
  </head>

  <body>
    <div id="preloader">
      <div class="sk-spinner sk-spinner-wave">
        <div class="sk-rect1"></div>
        <div class="sk-rect2"></div>
        <div class="sk-rect3"></div>
        <div class="sk-rect4"></div>
        <div class="sk-rect5"></div>
      </div>
    </div>
    <!-- End Preload -->

    <div class="layer"></div>
    <!-- Mobile menu overlay mask -->
    <%- include("./whatsapp.ejs"); %>
    <!-- Header================================================== -->
    <%- include("./partials/layout/header/header.ejs"); %>
    <!-- End Header -->

    <section
      class="parallax-window"
      data-parallax="scroll"
      data-image-src="img/pages/about1.jpg"
      data-natural-width="1400"
      data-natural-height="470"
    >
      <div
        class="parallax-content-1 opacity-mask"
        data-opacity-mask="rgba(0, 0, 0, 0.6)"
      >
        <div class="animated fadeInDown">
          <h1>About Us</h1>
          <p>Travel with Gojourneyindia</p>
        </div>
      </div>
    </section>
    <!-- End Section -->

    <main>
      <div class="container margin_60">
        <div class="main_title">
          <h2 class="color-dark-blue">About <span class="color-dark-red">Gojourneyindia </span></h2>
        </div>

        <div class="row">
          <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
            <div class="feature">
              <i class="icon_set_1_icon-30"></i>
              <h3 class="color-dark-red">Mission</h3>
              <p>
                Our mission is to provide the ultimate travel planning experience while becoming a one-stop shop for every travel service available in the industry. From Packages, airline tickets, hotels, worldwide luxury resorts, cruises, and trains to car rentals.
              </p>
            </div>
          </div>
          <div class="col-lg-6 wow fadeIn" data-wow-delay="0.2s">
            <div class="feature">
              <i class="icon_set_1_icon-41"></i>
              <h3><span class="color-dark-blue">Vision</span></h3>
              <p>
                To be the best Inbound Tour Operating Company in India by
                delivering complete satisfaction to our travelers and clients
                and at the same time, fulfilling their requirement and need with
                our dedicated staff at the best affordable price.
              </p>
            </div>
          </div>
        </div>
        <!-- End row -->
        <div class="row">
          <div class="col-lg-6 wow fadeIn" data-wow-delay="0.3s">
            <div class="feature">
              <i class="icon_set_1_icon-57"></i>
              <h3 class="color-dark-red"><span class="color-dark-blue">Who</span> we are</h3>
              <p>
                Go Journey India we have had more than 100+ travelers who
                completed their journeys with life-changing experiences. , and
                we ensure that each of them gets 100% satisfaction.
              </p>
            </div>
          </div>
          <div class="col-lg-6 wow fadeIn" data-wow-delay="0.4s">
            <div class="feature">
              <i class="icon_set_1_icon-61"></i>
              <h3 class="color-dark-blue"><span class="color-dark-red">Our</span> Team</h3>
              <p>
                Building the most innovative and technology driven product to
                address holiday woes requires the smartest and passionate people
                in the industry. We believe in working together,saying things as
                is and achieving the challenging goals that others might treat
                impossible.
              </p>
            </div>
          </div>
        </div>
        <!-- End row -->

        <!-- End row -->
        <hr />

        <!-- End row -->
      </div>
      <!-- End container -->

      <div class="container-fluid">
        <div class="row">
          <div class="main_title">
          <h2 class="color-dark-blue">About <span class="color-dark-red">US </span></h2>
        </div>
          <div class="col-lg-6 nopadding features-intro-img">
            <div class="features-bg">
              <div class="features-img"></div>
            </div>
          </div>
          <div class="col-lg-6 nopadding wow fadeIn">
            <div class="p-4 feature">
              
              <p class="fw-bold">Go Journey (GJI)  India is an Indian-based the travelling industry. </p>
              <p> Go Journey (GJI)   wants to serve you the best by building a relationship with you not as a customer but as a friend. If you are considering exploring India and want to make every moment memorable for a lifetime in India, then you have come to the right place.</p>
                <ul>
                    <li> Go Journey (GJI)  is a paradise for travellers and tourist </li>
                  <li> There are many places to visit in India.</li>
                  <li> This naturally made India no less than a dream country
                  </li>
                  <li> We know that both your time and money are significant.
                  </li>
                </ul>

              <p>Go Journey (GJI)   provides you with the professional service as per your expectation like Hotel Booking, Air Transport, Surface Transport, All Activities, and a Complete Holiday Package</p>
              <li>We believe your travel will be delightful and memorable without any hassle, and we will try our best to give you the best experience.</li>
              <li>If you have any doubts or queries, you can clear them by contacting (GJI)  </li>
              <li>We hope that your everywhere journey is lovely and memorable.</li>

              
            </div>
          </div>
        </div>
      </div>
      <!-- End container-fluid  -->

      <div class="container margin_60">
        <hr />

        <div class="row">
          <div class="col-md-6">
            <img
              src="img/pages/about2.jpg"
              alt="Laptop"
              class="img-fluid laptop"
            />
          </div>
          <div class="col-md-6">
            <h3 class="color-dark-red"><span class="color-dark-blue">Get started</span> Go Journey India</h3>

            <ul class="list_order">
              <li><span>1</span>Select your preferred tours</li>
              <li>
                <span>2</span>Go tour read more option fill the form and submit
              </li>
              <li><span>3</span>wait for call from gojourneyindia</li>
            </ul>
            <a href="index" class="btn text-white bg-color-dark-red"
              >Start now</a
            >
          </div>
        </div>
        <!-- End row -->
      </div>
      <!-- End Container -->
    </main>
    <!-- End main -->
    <%- include("./partials/layout/footer/footer.ejs"); %>
    <!-- End footer -->

    <div id="toTop"></div>
    <!-- Back to top button -->


    <!-- Common scripts -->
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/common_scripts_min.js"></script>
    <script src="js/functions.js"></script>

  </body>

</html>
