<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from www.ansonika.com/citytours/faq.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 15 Jun 2022 05:38:08 GMT -->

<head>
	<title>FAQ | Go Journey India</title>
	<meta name="description" content="Go Journey India Detailed terms and conditions related to travel bookings, payments and cancellation policy at gojourneyindia.com">
	<meta name="keywords" content="Golden Triangle, all india tour packages prices, best india tour package, Traditional Rajasthan, india tour, indian travel Website, Rajasthan tour package, Agra tour package, faq, ">
	
	<%- include("./partials/link_file/csslink/allcss.ejs"); %>

</head>

<body>


	<div id="preloader">
		<div class="sk-spinner sk-spinner-wave">
			<div class="sk-rect1"></div>
			<div class="sk-rect2"></div>
			<div class="sk-rect3"></div>
			<div class="sk-rect4"></div>
			<div class="sk-rect5"></div>
		</div>
	</div> 
	 <!-- End Preload -->

	<div class="layer"></div>
	<!-- Mobile menu overlay mask -->

	<!-- Header================================================== -->
	<%- include("./partials/layout/header/header.ejs"); %>
	<!-- End Header -->


	<section class="parallax-window" data-parallax="scroll" data-image-src="img/pages/faq.jpg" data-natural-width="1400"
		data-natural-height="470">
		<div class="parallax-content-1 opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.6)">
			<div class="animated fadeInDown">
				<h1>Frequently questions</h1>

			</div>
		</div>
	</section>
	<!-- End section -->

	<main>
		<div id="position">
			<div class="container">
				<ul>
					<li><a href="#">Home</a>
					</li>
					<li><a href="#">Category</a>
					</li>
					<li>Page active</li>
				</ul>
			</div>
		</div>
		<!-- Position -->

		<div class="container margin_60">

			<div class="row">
				<aside class="col-lg-3">
					<div class="box_style_cat">
						<ul id="cat_nav">
							<li><a href="#Gojourneyindia" class="active"><i class="icon_set_1_icon-95"></i>Tour</a>
							</li>

							<li><a href="#payment"><i class="icon_set_1_icon-95"></i>Payments</a>
							</li>
							<li><a href="#termadncondition"><i class="icon_set_1_icon-95"></i>Terms and conditons</a>
							</li>

						</ul>
					</div>

					<div class="box_style_2">
						<i class="icon_set_1_icon-57"></i>
						<h4 class="color-dark-red">Need <span class="color-dark-blue">Help?</span></h4>
						<a href="tel://004542344599" class="phone">+91 9808858882</a>

					</div>
				</aside>
				<!--End aside -->
				<div class="col-lg-9" id="faq">
					<h3 class="nomargin_top" id="Gojourneyindia">Tour Gojourneyindia</h3>
					<div id="payment" class="accordion_styled">
						<div class="card">
							<div class="card-header">
								<h4>
									<a class="accordion-toggle" data-bs-toggle="collapse" data-bs-parent="#payment"
										href="#collapseOne_payment">How does my trip to India start<i
											class="indicator icon-minus float-end"></i></a>
								</h4>
							</div>
							<div id="collapseOne_payment" class="collapse show" data-bs-parent="#payment">
								<div class="card-body">
								You will be greeted and received at your preferred location (Railway station or Airport). From there all your needs become a priority for our team. They will deliver the best possible service and will look forward to any change required by you. All the local sightseeing will be conducted in comfy air-conditioned vehicles. All the private tours are flexible and will allow you to make a decision on places to visit. We provide English-speaking guides during the time of sightseeing. On completion of the trip, you will be dropped off through our vehicle at your preferred location (hotel or airport).
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<h4>
									<a class="accordion-toggle" data-bs-toggle="collapse" data-bs-parent="#payment"
										href="#collapseTwo_payment">Is booking possible over a phone call?<i
											class="indicator icon-plus float-end"></i></a>
								</h4>
							</div>
							<div id="collapseTwo_payment" class="collapse" data-bs-parent="#payment">
								<div class="card-body">
									Yes, possible you can call us on +91 9808858882
								</div>
							</div>
						</div>

					</div>
					<!--End payment -->


					<div id="tips" class="accordion_styled">
						<div class="card">
							<div class="card-header">
								<h4>
									<a class="accordion-toggle" data-bs-toggle="collapse" data-bs-parent="#tips"
										href="#collapseOne_tips">What are the Travel Documents required to visit
										India?<i class="indicator icon-plus float-end"></i></a>
								</h4>
							</div>
							<div id="collapseOne_tips" class="collapse" data-bs-parent="#tips">
								<div class="card-body">
									One must possess a passport that is valid for a minimum of 6 months from the date of entry into India. Many countries have been included in the list of countries whose citizens are provided E-Visa facility provided they apply 72 hours in advance. Nationals from other than these countries, need to obtain an Indian visa in advance to enter India.
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<h4>
									<a class="accordion-toggle" data-bs-toggle="collapse" data-bs-parent="#tips"
										href="#collapseTwo_tips">What are the modes of travel locally in India?<i
											class="indicator icon-plus float-end"></i></a>
								</h4>
							</div>
							<div id="collapseTwo_tips" class="collapse" data-bs-parent="#tips">
								<div class="card-body">
									There are various modes of travel like Flights, Train, Metro Trains in major cities,
									Three Wheeler Autos, Taxis, App
									Based Taxis (Ola & Uber), Volvo Buses for Inter State etc.
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<h4>
									<a class="accordion-toggle" data-bs-toggle="collapse" data-bs-parent="#tips"
										href="#collapseThree_tips">What are local emergency numbers?<i
											class="indicator icon-plus float-end"></i></a>
								</h4>
							</div>
							<div id="collapseThree_tips" class="collapse" data-bs-parent="#tips">
								<div class="card-body">
									100 Police 102 Ambulance 101 Fire 108 Disaster management 1091 Women Helpline
								</div>
							</div>
						</div>
					</div>
					<!--End tips -->


					<div id="reccomendations" class="accordion_styled">
						<div class="card">
							<div class="card-header">
								<h4>
									<a class="accordion-toggle" data-bs-toggle="collapse"
										data-bs-parent="#reccomendations" href="#collapseOne_reccomendations">What are
										dressing tips to travel locally?
										<i class="indicator icon-plus float-end"></i></a>
								</h4>
							</div>
							<div id="collapseOne_reccomendations" class="collapse" data-bs-parent="#reccomendations">
								<div class="card-body">
									India is a culture-rich country and dressing in a decent way will get another level of experience. In temples or religious places, shoes and sometimes open heads are not allowed. The body should be completely covered and transparent clothes are not recommended. If traveling late at night then it is recommended to travel safely. It is recommended to keep some small portion of money in your clothes at the hotel and always carry your travel documents with you safely for hassle-free identification.
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<h4>
									<a class="accordion-toggle" data-bs-toggle="collapse"
										data-bs-parent="#reccomendations" href="#collapseTwo_reccomendations">How to
										modify or cancel the bookings and request for refunds?<i
											class="indicator icon-plus float-end"></i></a>
								</h4>
							</div>
							<div id="collapseTwo_reccomendations" class="collapse" data-bs-parent="#reccomendations">
								<div class="card-body">
									For any modifications or booking cancellation, please contact us through On Website
									email or by calling us on our phone/mobile.
								</div>
							</div>
						</div>

						<!--End reccomendations -->





						<h3 id="payment">Payments</h3>
						<div id="transfers" class="accordion_styled">
							<div class="card">
								<div class="card-header">
									<h4>
										<a class="accordion-toggle" data-bs-toggle="collapse"
											data-bs-parent="#transfers" href="#collapseOne_transfers">What are the
											different modes of payment for booking a trip on Gojourneyindia<i
												class="indicator icon-plus float-end"></i></a>
									</h4>
								</div>
								<div id="collapseOne_transfers" class="collapse" data-bs-parent="#transfers">
									<div class="card-body">
										We have various payment options to give you a delightful booking experience:
										<li>Debit/ Credit Cards</li>
										<li>Net Banking</li>
										<li>NEFT Transfer</li>
										<li>UPI</li>

										Usually, Internet Bank Transfer is the cheapest mode of payment for the traveler,
										as for all the other modes, banks and
										payment gateway providers charge an extra fee which has to
										be borne by the customer.
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header">
									<h4>
										<a class="accordion-toggle" data-bs-toggle="collapse"
											data-bs-parent="#transfers" href="#collapseTwo_transfers">Is it safe to use
											my debit/credit card on Go journey India<i
												class="indicator icon-plus float-end"></i></a>
									</h4>
								</div>
								<div id="collapseTwo_transfers" class="collapse" data-bs-parent="#transfers">
									<div class="card-body">
									Yes, it is absolutely safe to use your card on gojourneyindia.com A recent directive from RBI makes it mandatory to have an additional authentication pass code verified by VISA (VBV) or MSC (Master Secure Code) which has to be entered by buyers while paying online using a visa or master credit card. It means extra security for customers, thus making online transactions safer.
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header">
									<h4>
										<a class="accordion-toggle" data-bs-toggle="collapse"
											data-bs-parent="#transfers" href="#collapseThree_transfers">What is EMI
											related procedure?<i class="indicator icon-plus float-end"></i></a>
									</h4>
								</div>
								<div id="collapseThree_transfers" class="collapse" data-bs-parent="#transfers">
									<div class="card-body">
										The EMI option is available on your Credit Card payment. You can avail this
										option if you hold a valid credit card from
										any of the following banks - ICICI, AXIS, HSBC,
										Standard Chartered, Citibank, Indusland Bank, Kotak Bank or Ratnakar Bank Etc...
									</div>
								</div>
							</div>
						</div>
						<h3 id="termadncondition">Terms and conditions</h3>
						<div id="terms" class="accordion_styled">
							<div class="card">
								<div class="card-header">
									<h4>
										<a class="accordion-toggle" data-bs-toggle="collapse" data-bs-parent="#terms"
											href="#collapseOne_terms">Terms and Condition Regarding Booking confirmed
											and cancellation
											refundable<i class="indicator icon-plus float-end"></i></a>
									</h4>
								</div>
								<div id="collapseOne_terms" class="collapse" data-bs-parent="#terms">
									<div class="card-body">
										<p>How to Book: – As soon you are ready to proceed with the reservations and we shall send you our invoice for the 40% of the total tour cost as an advance payment either byVisa, Master Card via our Secure Server, or via Telegraphic Transfer to our bank account (details will be provided upon knowing your choice to pay). Apart from the 20%, you would also need to pay us the full amount for any air/train or bus tickets to be issued. Once the advance is received our operation team will make all your hotel reservations, book your tickets and make necessary arrangements for your trip. Once this is done a confirmation is sent to you. You will be required to pay another 30% of the tour cost at that point. Balance 50% of the tour cost can be paid by you upon your arrival in India by cash or traveler's cheques. Alternatively, you could pay by bank transfer a fortnight before your arrival.
										</p>
										<p>
											Once you submit the advance payment we would keep you updated on your travel arrangements.
										</p>
										<p>
											You shall have access 24 Hrs to speak to us. You can call us at +91-9808858882
										</p>
										<p>
											Amendment – We do not encourage changes in the confirmed arrangements. But if you do need to make amendments to the arrangements already confirmed, we will do all possible to accommodate the changes, depending on the availability of various segments of the tour, for the new requirements. However, the changes will be subject to certain minimum amendment/administration charges.
										</p>
										<p>
										Cancellation – We would deeply regret your decision to cancel your trip to India, however, we realize that there are many valid reasons that this can happen. Cancellations must is notified in writing and will take effect the day it is received by travel tours India. The following cancellation.
										</p>
										<p>
											Charges will apply: –
										</p>
										<p>
											90 days prior to arrival – 50% of the advance deposited between 90 days to 60 days prior to arrival – 75% of the advance deposited between 60 days to 30 days prior to arrival – 100 % of the advance deposited between 30 days to 7 days prior to arrival – 50% of the total amount, 7 days prior to arrival – NO REFUND
										</p>
										Note:
										<p>
											Note:
Palace on Wheels and other Luxury Trains non-refundable. Flight Tickets – NO REFUND. Please note that the prices quoted are as per the prevailing foreign exchange conversion rates. The final costing will therefore be subjected to fluctuations, if any, and will be accordingly adjusted at the time of receipt of payment.
										</p>
									</div>
								</div>
							</div>

							
							<!--End privacy -->
						</div>
						<!-- End col lg-9 -->
					</div>
					<!-- End row -->
				</div>
				<!-- End container -->
	</main>
	<!-- End main -->

	<%- include("./partials/layout/footer/footer.ejs"); %>
	<!-- End footer -->

	<div id="toTop"></div><!-- Back to top button -->

	<!-- Search Menu -->
	<div class="search-overlay-menu">
		<span class="search-overlay-close"><i class="icon_set_1_icon-77"></i></span>
		<form role="search" id="searchform" method="get">
			<input value="" name="q" type="text" placeholder="Search..." />
			<button type="submit"><i class="icon_set_1_icon-78"></i>
			</button>
		</form>
	</div><!-- End Search Menu -->

	<!-- Sign In Popup -->
	<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">
		<div class="small-dialog-header">
			<h3>Sign In</h3>
		</div>
		<form>
			<div class="sign-in-wrapper">
				<a href="#0" class="social_bt facebook">Login with Facebook</a>
				<a href="#0" class="social_bt google">Login with Google</a>
				<div class="divider"><span>Or</span></div>
				<div class="form-group">
					<label>Email</label>
					<input type="email" class="form-control" name="email" id="email">
					<i class="icon_mail_alt"></i>
				</div>
				<div class="form-group">
					<label>Password</label>
					<input type="password" class="form-control" name="password" id="password" value="">
					<i class="icon_lock_alt"></i>
				</div>
				<div class="clearfix add_bottom_15">
					<div class="checkboxes float-start">
						<label class="container_check">Remember me
							<input type="checkbox">
							<span class="checkmark"></span>
						</label>
					</div>
					<div class="float-end"><a id="forgot" href="javascript:void(0);">Forgot Password?</a></div>
				</div>
				<div class="text-center"><input type="submit" value="Log In" class="btn_login"></div>
				<div class="text-center">
					Don’t have an account? <a href="javascript:void(0);">Sign up</a>
				</div>
				<div id="forgot_pw">
					<div class="form-group">
						<label>Please confirm login email below</label>
						<input type="email" class="form-control" name="email_forgot" id="email_forgot">
						<i class="icon_mail_alt"></i>
					</div>
					<p>You will receive an email containing a link allowing you to reset your password to a new
						preferred one.</p>
					<div class="text-center"><input type="submit" value="Reset Password" class="btn_1"></div>
				</div>
			</div>
		</form>
		<!--form -->

	</div>
	<%- include("./whatsapp.ejs"); %>

	<!-- Common scripts -->
	<script src="js/jquery-3.6.0.min.js"></script>
	<script src="js/common_scripts_min.js"></script>
	<script src="js/functions.js"></script>

	<!-- Specific scripts -->
	<!-- Cat nav mobile -->
	<script src="js/cat_nav_mobile.js"></script>
	<script>
		$('#cat_nav').mobileMenu();
	</script>

</body>

</html>