<div class="col-md-5 margintp pt-5 bg-color-dark-blue text-center">
                            <div class="row">
                                <img src="img/fromimg.png">
                                <div class="col-md-12">
                                    <div id="social_footer">
                                        <ul>
                                            <li>
                                                <a href="/https://www.facebook.com/GoJourneyIndia"><i class="icon-facebook"></i></a>
                                            </li>
                                            <li>
                                                <a href="/https://twitter.com/Gojourneyindia2"><i class="icon-twitter"></i></a>
                                            </li>

                                            <li>
                                                <a href="/https://www.instagram.com/gojourneyindia"><i class="icon-instagram"></i></a>
                                            </li>                                            

                                            <li>
                                                <a href="/https://www.youtube.com/channel/UCTqysM0UXkImBBcmXCekYIA/featured"><i class="icon-youtube-play"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>