<!DOCTYPE html>
<html lang="en">
<head>

 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    
</head>
<body>
     <a href="https://wa.me/+919808858882" class="whatsapp_float" target="_blank"> <span class="bi bi-whatsapp green-color"> </span></a>
</body>
</html>