<footer class="bg-color-dark-blue ">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 footer-text">
                <h3>Need help?</h3>
                <p><a href="tel://+919808858882"><i class=" icon_set_1_icon-90"></i>+91 9808858882</a></p>
                <p><i class=" icon_set_1_icon-84"></i>gojourneyindia1@gmail.com</p>
                <p><i class="icon_set_1_icon-41"></i>Address : 60A/90 kidwai naggar sarai khwaja</p>
            </div>
            <div class="col-md-3 col-sm-3 footer-text">
                <h3>About</h3>
                <ul>
                    <li><a href="/about">About us</a></li>
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="/signIn">Login</a></li>
                    <li><a href="/signUp">Register</a></li>

                </ul>
            </div>
            <div class="col-md-3 col-sm-3 footer-text">
                <h3>Discover</h3>
                <ul>
                    <li><a href="#">Community blog</a></li>
                    <li><a href="#">Tour guide</a></li>

                    <li><a href="/gallery">Gallery</a></li>
                </ul>
            </div>

        </div><!-- End row -->
        <div class="row">
            <div class="col-md-12">
                <div id="social_footer">
                    <ul>
                        <li><a href="https://www.facebook.com/GoJourneyIndia"><i class="icon-facebook"></i></a></li>
                        <li><a href="https://twitter.com/Gojourneyindia2"><i class="icon-twitter"></i></a></li>

                        <li><a href="https://www.instagram.com/gojourneyindia/"><i class="icon-instagram"></i></a></li>
                        <!-- <li><a href="#"><i class="icon-linkedin"></i></a></li> -->

                        <li><a href="https://www.youtube.com/channel/UCTqysM0UXkImBBcmXCekYIA/featured"><i class="icon-youtube-play"></i></a></li>
                    </ul>
                    <p> <a href="https://trignoweb.com/">© Trignoweb Solution Pvt. Ltd 2022</a></p>
                </div>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
</footer>